<h1>
  <%= link_to "←", calendar_path(date: @date.prev_month) %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to "→", calendar_path(date: @date.next_month) %>
</h1>

<div class="calendar">
  <% calendar_weeks(@date).each do |week| %>
    <div class="week">
      <% week.each do |day| %>
        <div class="day <%= "other-month" if day.month != @date.month %>">
          <div class="date"><%= day.day %></div>

          <% @events.select { |e| e.date == day }.each do |event| %>
            <div class="event">
              <%= event.title %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
