<div class="<%= wrapper_classes %>"
     data-controller="dropdown">
  <%= tag.button(type: "button", class: button_classes, style: button_style, data: { action: "click->dropdown#toggle" }) do %>
    <%= tag.span(display_label, class: label_classes, data: { dropdown_target: "label", default_label: @label }) %>
    <% if show_arrow? %>
      <%= helpers.icon "arrow-down-01-stroke-rounded", library: "huge_icons", class: arrow_classes, data: { dropdown_target: "arrow" } %>
    <% end %>
  <% end %>

  <%= tag.div(class: menu_classes, style: menu_style, data: { dropdown_target: "menu" }) do %>
    <div class="py-1">
      <% @items.each do |item| %>
        <% if item[:divider] %>
          <div class="my-1 h-px bg-[var(--studs-border-subtle)]"></div>
        <% else %>
          <%= tag.button(item[:label], type: "button", class: item_classes, data: item_data(item)) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= tag.input(type: "hidden", class: "dropdown-input", name: @name || "dropdown", value: @selected_value, data: { dropdown_target: "input" }) %>
</div>
